<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sport.event">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />

    <!--access to internet-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--access to account manager-->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".retrofit.APIApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SportEvent"
        android:usesCleartextTraffic="true">
        <!--service for authentication-->
        <service android:name=".accountManager.AuthenticatorService"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name=".activities.SuccessfulRegistrationScreen"
            android:exported="true">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sportevent"
                    android:host="successful_registry" />
                <!-- note that the leading "/" is required for pathPrefix-->
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CheckEmailScreen"
            android:exported="true" />
        <activity
            android:name=".activities.RegistrationScreen3"
            android:exported="true" />
        <activity
            android:name=".activities.RegistrationScreen2"
            android:exported="true" />
        <activity
            android:name=".activities.RegistrationScreen1"
            android:exported="true" />
        <activity
            android:name=".activities.StartScreen"
            android:exported="true" />
        <activity
            android:name=".accountManager.AuthenticatorActivity"
            android:exported="true" />
        <activity
            android:name=".activities.Onbording3"
            android:exported="true" />
        <activity
            android:name=".activities.Onbording2"
            android:exported="true" />
        <activity
            android:name=".activities.Onbording1"
            android:exported="true" />
        <activity
            android:name=".activities.SplashScreen"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.SportEvent.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="GOOGLE_API_KEY" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activities.MapsActivity"
            android:exported="true" />
    </application>

</manifest>
